.App {
  text-align: center;
}

header {
  height: 75px;
  background-color: blanchedalmond;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 20px;
}

img {
  height: 50px;
  width: 50px;
}

/* This hides the mobile nav initially */
#mobile-nav {
  display: none;
}

/* dropdown should contain an animation name and duration */
#dropdown {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 75px;
  left: 0px;
  background-color: teal;
  display: flex;
  flex-direction: column;
  animation: open 500ms;
  overflow: hidden;
}

/* keyframes is where the animation is built, can use from/to or percentages, depending on how customized you need the animation to be. */
@keyframes open {
  from {
    height: 0px;
  }
  to {
    height: 100px;
  }
}

/* This media query will only display these selected styles up to 480px screen-width */
@media(max-width: 480px){
  #desktop-nav {
    display: none;
  }
  #mobile-nav {
    display: initial;
  }
}